<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Compare Interested Plans
    </h1>
    <p></p>

    <h5 style="color:dimgray">
      <p>
        Based on the number you entered in your profile page, your estimated total medical expense is <%= number_to_currency(current_user.estimated_cost, precision: 1) %>.
      </p>

      <p></p>

      <p>
        <!-- NTD do calculation to figure out what is the best plan-->
        <% best_plan =current_user.interested_plans.first %>
        <% lowest_total_cost = 999999999999999%>

        <% current_user.interested_plans.each do |interested_plan| %>

          <% user_age = Date.today.year - current_user.birthday.year %>
          <% age_penalty = @penalty_table[:CA][:age][user_age]%>
          <% smoker_penalty = @penalty_table[:CA][:smoker][current_user.tobacco_use]%>
          <% estimated_premium = interested_plan.monthly_premium*age_penalty*smoker_penalty %>
          <% total_expense = estimated_premium.*12 %>
          <% if current_user.estimated_cost > interested_plan.deductible %>
            <% total_expense = total_expense + interested_plan.deductible + (current_user.estimated_cost - interested_plan.deductible)*interested_plan.coinsurance_paid_by_patient/100 %>
          <% else %>
            <% total_expense = total_expense + current_user.estimated_cost %>
          <% end %>

          <% if total_expense < lowest_total_cost %>
            <% lowest_total_cost = total_expense %>
            <% best_plan = interested_plan %>
          <% end %>

        <% end %>
        The best plan for your situation is: 
        <a href="/insurance_plans/<%= best_plan.id %>">
          <span style="color:mediumvioletred"><%= best_plan.plan_name %></span>
        </a>
        for a total payment of <%= number_to_currency(lowest_total_cost, precision:1) %>
      </p>

      <br>
    </br>

  </h5>

  <h6 style="color:dimgray">
    For the year you may pay the following for each plan:
  </h6>

</div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>
          <span style="color:dimgray" title="Health insurance plan name">Plan Name</span>
        </th>

        <th>
          <span style="color:dimgray" title="Co-insurance is the % of medical expense you need to pay out-of-pocket">Co-insurance %</span>
        </th>

        <th>
          <span style="color:dimgray" title="Deductible is the total amount you have to pay before insurance starts to pay for your medical expenses">Annual deductible</span>
        </th>

        <th>
          <span style="color:dimgray" title="Base premium is the lowest premium paid by anyone buying the plan">Annual base premium</span>
        </th>

        <th>
          <span style="color:dimgray" title="Adjusted premium based on your age and tobbaco use">Annual adj. premium</span>
        </th>

        <th>
          <span style="color:dimgray" title="Your total annual payment including out-of-pocket payment plus your estimated premium">Annual est. total expense</span>
        </th>

        <th>
        </th>
      </tr>

      <% current_user.interested_plans.each do |interested_plan| %>
        <tr >
          <td>
            <a href="/insurance_plans/<%= interested_plan.id %>">
              <%= interested_plan.plan_name %>
            </a>
          </td>

          <td>
            <%= number_to_percentage(interested_plan.coinsurance_paid_by_patient, precision:1) %>
          </td>

          <td>
            <%= number_to_currency(interested_plan.deductible, precision:1)%>
          </td>

          <td>
            <%= number_to_currency(interested_plan.monthly_premium*12, precision:1) %>
          </td>

          <td>
            <% user_age = Date.today.year - current_user.birthday.year %>
            <% age_penalty = @penalty_table[:CA][:age][user_age]%>
            <% smoker_penalty = @penalty_table[:CA][:smoker][current_user.tobacco_use]%>
            <% estimated_premium = interested_plan.monthly_premium*age_penalty*smoker_penalty %>
            <%= number_to_currency(estimated_premium*12, precision:1) %>
          </td>

          <td>
            <% total_expense = estimated_premium.*12 %>
            <% if current_user.estimated_cost > interested_plan.deductible %>
              <% total_expense = total_expense + interested_plan.deductible + (current_user.estimated_cost - interested_plan.deductible)*interested_plan.coinsurance_paid_by_patient/100 %>
            <% else %>
              <% total_expense = total_expense + current_user.estimated_cost %>
            <% end %>
            <%= number_to_currency(total_expense, precision:1) %>

          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<a href="/users/edit" class="card-link">Revise estimated total medical expense</a>
<a href="/insurance_plans" class="card-link">Look for more plans</a>
