<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My interested plans
    </h1>

    <a href="/interested_plans/new" class="btn btn-block btn-outline-secondary">
      Add a new interested plan
    </a>
    <p></p>
    <p style="color:dimgray">
      The annual estimated premium uses base premium and is adjusted for your age and smoker status.
    </p>
  </div>

  <div class="col-md-12">
      <table class="table table-striped table-hover">
      <tr>
        <th>
          <span style="color:dimgray" title="Health insurance plan name">Plan Name</span>
        </th>

        <th>
          <span style="color:dimgray" title="Co-insurance is the % of medical expense you need to pay out-of-pocket">Co-insurance %</span>
        </th>

        <th>
          <span style="color:dimgray" title="Deductible is the total amount you have to pay before insurance starts to pay for your medical expenses">Annual deductible</span>
        </th>

        <th>
          <span style="color:dimgray" title="Base premium is the lowest premium paid by anyone buying the plan">Annual base premium</span>
        </th>

        <th>
          <span style="color:dimgray" title="Adjusted premium based on your age and tobbaco use">Annual adj. premium</span>
        </th>


        <th>
        </th>
      </tr>

      <% current_user.interested_plans.each do |interested_plan| %>
        <tr>

          <td>
            <a href="/insurance_plans/<%= interested_plan.id %>">
              <%= interested_plan.plan_name %>
            </a>
          </td>

          <td>
            <%= number_to_percentage(interested_plan.coinsurance_paid_by_patient, precision:1) %>
          </td>

          <td>
            <%= number_to_currency(interested_plan.deductible, precision:1)%>
          </td>

          <td>
            <%= number_to_currency(interested_plan.monthly_premium*12, precision:1) %>
          </td>

          <td>
            <% user_age = Date.today.year - current_user.birthday.year %>
            <% age_penalty = @penalty_table[:CA][:age][user_age]%>
            <% smoker_penalty = @penalty_table[:CA][:smoker][current_user.tobacco_use]%>
            <%= number_to_currency(interested_plan.monthly_premium*age_penalty*smoker_penalty*12, precision:1) %>
          </td>

          <td>
            <% interested_plan.user_plans.each do |liked_plan| %>
              <% if liked_plan.user_id == current_user.id %>
                <a href="/delete_interested_plan/<%= liked_plan.id %>" class="btn btn-link pull-right">
                  <i class="fas fa-heart"></i> Unlike
                </a>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


<hr>
